.locations {
    display: grid;
    gap: 2em;
    max-width: 900px;
    margin-block-end: 3em;
}

.store-locations {
    display: flex;
    justify-items: center;
    gap: 20px;
}

/* .store-locations>* {
    grid-column: 2;
} */

.store-locations h1 {
    font-size: 2rem;
}

.locations-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.btn-location {
    background-color: var(--clr-btn-2);
    width: 10em;
}

.google-map {
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}