.locations {
    display: grid;
    gap: 2em;
    max-width: 900px;
    margin-block-end: 3em;

    .store-locations {
        display: flex;
        justify-items: center;
        gap: 20px;

        @include for-mobile-layout {
            flex-direction: column-reverse;
        }
    }

    .locations-buttons {
        display: flex;
        gap: 0.5em;

        @include for-mobile-layout {
            flex-wrap: wrap;

            .btn-location {
                width: 7em;
                font-size: 0.9rem;
            }
        }

        @include for-narrow-layout {
            flex-direction: column;

            .btn-location {
                width: 10em;
                font-size: 1rem;
            }
        }
    }



    .google-map {
        border-radius: 1em;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }
}