.toy-edit-inputs {
    display: grid;
    gap: 1.5em;
}

.categories-and-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10em;
    padding: 1em;
}

.toy-edit-img-container {
    width: 10em;
    border-radius: 1em;
    overflow: hidden;
}

.actions-edit-form {
    padding: 1em;
}