.toy-filter {
    padding-block-start: 2em;
    border-radius: 0.5em;
}

.toy-filter>* {
    grid-column: 2;
}

.toy-filter input.toy-name {
    width: 100%;
    height: 2em;
    padding: 0 2.7em;

    border: none;
    border-radius: 10em;

    background-color: whitesmoke;
    font-size: 1.2rem;
    font-family: inherit;
}

.toy-filter input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.search-btn:hover {
    background-color: rgb(225, 224, 224);
    border-radius: 50%;
}

label.toy-name {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0.5em;

    border: none;
    background-color: transparent;
    color: #666;
    font-size: 1.1rem;

    transform: translate(0, -50%);
    cursor: pointer;
}

.filter-form {
    display: flex;
    gap: 6em;
}

.filter-form-left-side {
    display: grid;
    gap: 1em;
    align-items: center;
}

.toy-label-filter {
    margin-inline-start: 0.6em;
}

select.toy-inStock,
select.tot-sort {
    width: 100%;
    border: none;
}

select.toy-inStock:focus,
select.tot-sort:focus {
    outline: none;
}

fieldset {
    border-radius: 0.5em;
    border: 1px solid rgb(219, 219, 219);
    padding: 0 1em 0.2em;
}

legend {
    font-size: 0.9rem;
    padding: 0 0.5em;

}