.toy-filter {
    padding-block-start: 2em;
    border-radius: 0.5em;
}

.toy-filter>* {
    grid-column: 2;
}

.toy-filter input.toy-name {
    width: 100%;
    height: 2em;
    padding: 0 2.7em;

    border: none;
    border-radius: 10em;

    background-color: whitesmoke;
    font-size: 1.2rem;
    font-family: inherit;
}

.toy-filter input:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.search-btn:hover {
    background-color: rgb(225, 224, 224);
    border-radius: 50%;
}

label.toy-name {
    position: relative;
}

.search-btn {
    position: absolute;
    top: 50%;
    left: 15px;
    padding: 0.5em;

    border: none;
    background-color: transparent;
    color: #666;
    font-size: 1.1rem;

    transform: translate(0, -50%);
    cursor: pointer;
}

.filter-form {
    display: flex;
    gap: 6em;
}

.toy-label-filter {
    margin-inline-start: 0.6em;
}

.loader {
    height: 4px;
    width: 130px;
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c), var(--c), #d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}