ul.toy-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 20px;
}

.toy-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: max-content;
    padding: 1.5em;

    border-radius: 0.5em;
    background-color: var(--clr-bg-1);

    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-remove-toy {
    background-color: var(--clr-btn-1);
}