.about {
    display: grid;
    justify-self: center;
    padding-block-start: 2em;

    @include for-mobile-layout {
        gap: 3em;
    }

    @include for-narrow-layout {
        gap: 5em;
    }

    .description-story {
        display: grid;
        gap: 1.5em;

        .part-of-story {
            display: grid;

            @include for-mobile-layout {
                gap: 1em;
                grid-template-columns: 260px;
                text-align: justify;
            }

            @include for-narrow-layout {
                gap: 1em;
                grid-template-columns: minmax(200px, 550px) minmax(100px, 250px);
            }
        }
    }
}