.about {
    justify-self: center;
}

.description-story {
    display: grid;
    gap: 1.5em;
}

.part-of-story {
    display: grid;
    grid-template-columns: minmax(200px, 550px) 250px;
    gap: 5em;
}

.part-of-story h4 {
    margin-block-end: 0.4em;
}