.dashboard {
    display: grid;
    gap: 2em;
    justify-items: center;

    .doughnut-stats {
        width: 20em;
    }

    .charts {
        display: flex;
        gap: 10em;
        text-align: center;
    }
}