.main-toys {
    display: grid;
    grid-template-columns: minmax(20px, 280px) 1fr minmax(20px, 280px);

    >*.full {
        grid-column: 1/-1;
    }

    >* {
        grid-column: 2;
    }

    @include for-mobile-layout {
        margin-block-start: 6em;
    }

    .introduction {
        display: grid;
        grid-template-columns: minmax(20px, 280px) 1fr minmax(20px, 280px);
        background-color: $clr-bg-3;

        padding: 2em 0;

        >* {
            grid-column: 2;
        }

        .introduction-content {
            @include for-mobile-layout {
                display: flex;
                flex-direction: column;
                gap: 3em;
            }

            @include for-normal-layout {
                display: grid;
                grid-template-columns: minmax(auto, 600px) 1fr;
            }
        }

        .description {
            align-self: center;
        }

        .introduction-img {


            & img {
                object-fit: contain;
            }

            @include for-mobile-layout {
                width: 15em;
            }

            @include for-narrow-layout {
                width: 20em;
            }
        }

    }

    .btn-add-toy {
        justify-self: start;
    }
}