@mixin btn ($type: regular) {

    @if $type ==dark {
        background-color: $clr-btn-1;

        &:hover {
            background-color: darken($clr-btn-1, 8%);
        }
    }

    @else if $type ==light {
        background-color: $clr-btn-2;

        &:hover {
            background-color: darken($clr-btn-2, 8%);
        }
    }

    @else if $type ==circle {
        background-color: $clr-btn-2;
        border-radius: 50%;
        width: 3em;
        height: 3em;

        &:hover {
            background-color: darken($clr-btn-2, 8%);
        }
    }
}

@mixin for-mobile-layout {
    @media (max-width:$break-narrow-1) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: $break-narrow-2) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: $break-narrow-3) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}