// COLOR PALETTE
$clr-bg-1: #f5f5f5;
$clr-bg-2: #EDEFD4;
$clr-bg-3: #FAF6F2;

$clr-btn-1: #f7b26d;
$clr-btn-2: #f8e9cd;

$clr-font-1: #444;

// LAYOUT BREAKPOINTS
$break-narrow-1: 400px;
$break-narrow-2: 401px;
$break-narrow-3: 900px;
$break-normal: 1200px;
$break-wide: 1500px;