body {
    margin: 0;
    font-family: 'Mukta-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

img,
iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-family: inherit;
}