* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Mukta-Regular';
    color: $clr-font-1;
}

.app {
    display: grid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    .app-nav & {
        &.active {
            text-decoration: underline;
        }
    }
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

p {

    &.chat-typing {
        align-self: flex-end;
        height: 10px;
        font-size: .8em;
    }
}

pre {
    .chat-msg & {
        padding: .5em;
        width: 70%;
        border-radius: .5em;

        word-wrap: break-word;
        font-family: inherit;
        font-size: 1rem;

        &.me-msg {
            background-color: white;
        }

        &.other-msg {
            background-color: rgb(253, 225, 201);
        }

    }
}

img,
iframe {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-family: inherit;
    cursor: pointer;

    &-dark {
        @include btn($type: dark);
    }

    &-light {
        @include btn($type: light);
    }

    &-circle {
        @include btn($type: circle);
    }
}

p {
    .part-of-story & {
        max-width: 30em;
    }

    .introduction & {

        max-width: 20em;

        @include for-mobile-layout {
            font-size: 1rem;
        }

        @include for-narrow-layout {
            font-size: 1.2rem;
        }
    }

    .toy-list & {
        margin: 0;
    }

    &.available {
        color: green;
    }

    &.not-available {
        color: red;
    }
}

h1 {
    .logo & {
        font-size: 1.5rem;
    }

    .store-locations & {
        font-size: 2rem;
    }

    .introduction & {
        font-family: 'Mukta-Medium';
        margin-block-end: 0.5em;

        @include for-mobile-layout {
            font-size: 1.5rem;
        }

        @include for-narrow-layout {
            font-size: 1.8rem;
        }
    }
}

h2 {
    .toy-edit & {
        padding: 0.5em;
    }

}

h4 {
    .part-of-story & {
        margin-block-end: 0.4em;
    }

    .toy-preview & {
        font-size: 1.15rem;
    }

    .charts & {
        margin-block-end: 1em;
        font-size: 1.15rem;
    }
}

input {
    .login-form & {
        padding: .5em 1.5em;
        border-radius: 100vh;
        border: 1px solid lightgray;
    }
}

.loader {
    height: 4px;
    width: 130px;
    --c: no-repeat linear-gradient(#6100ee 0 0);
    background: var(--c), var(--c), #d7b8fc;
    background-size: 60% 100%;
    animation: l16 3s infinite;
}

@keyframes l16 {
    0% {
        background-position: -150% 0, -150% 0
    }

    66% {
        background-position: 250% 0, -150% 0
    }

    100% {
        background-position: 250% 0, 250% 0
    }
}