.app {
    display: grid;
    grid-template-columns: minmax(20px, 280px) 1fr minmax(20px, 280px);
    grid-template-rows: 80px 1fr;
    gap: 1.5em;
}

.app>* {
    grid-column: 2;
}

.app-header {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.main-layout {
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: minmax(20px, 280px) 1fr minmax(20px, 280px);
    justify-content: stretch;
}

.main-layout>* {
    grid-column: 2;
}